
<div class="col-md-6" style="padding: 10px">
    <div class="col-md-6" style="margin: 0px 0px 5px 0px" *ngFor="let items of persons">
      <div class="row" style="padding: 10px; border: solid 2px rgba(224, 224, 224, 0.33); margin-right: -10px;">
      
        <h4 >{{items.name}} 
        </h4>
      </div>
      
    </div>  
    
</div>