.mdl-data-table {
    table-layout:center;
    width:700px;
    border: 1px;
    position: absolute; 
}
#my-table td, tr {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  border: 1px solid black;
}

/* unrelated to responsive table css */
#my-table{
  margin-top:24px;
  border: 1px;
}
.material-icons {
  vertical-align: -25%;
  border: 1px;
}

.row:hover {
    background:#6db3ef !important;
    cursor: pointer ;
    color: #ffffff !important;
}